/* Full page */

*{
    margin: 0%;
    
}

/*Body section */
body{
    font-family: 'Montserrat' sans-serif;
}


h1{
    color: white;
    font-family: "Montserrat-Black" sans-serif;
    font-size: 2.25rem;
    line-height: 1.5;
}
h2{
    font-family:  'Montserrat-Bold' sans-serif;
    text-align: center;
    color: white;
}
h3{
    font-family: 'Montserrat-Bold' sans-serif;
    font-size: 1.5rem;
}
hr{
    border:#000000 solid 6px;
    border-bottom: none;
    width: 100%;
    /* margin: 30px auto; */
}
.container-fluid{
    padding: 3% 10% 0%;
}
/* title section */
    /* /* -->navigation bar > */
    .navbar{
        padding: 0  0 3rem;
    
    }
    .navbar-brand{
        font-family: "Ubuntu";
        font-size: 1.6rem;
        font-weight: bolder;
    }
    .navitem{
        padding: 0 8px;
    }

    .nav-link{
        font-size: 1.2rem;
        font-family: 'Montserrat-Light' sans-serif ;
    }
    /* -->home page */
    #title
    {
        background-color:#041C32;
    }

    .title-img{
        width: 100%;
    }
    .download-button{
        margin: 5% 2% 5% 0%;
    }
    .download-button:hover{
        background-color:#f0d0a2;  
      }




/* features section */

#features{
    text-align: center;
    /* background-color: white; */

    margin: 5% 7%;
}



/* services section */
#services{
    background-color:#041C32;
}

.row{
    text-align: center;
}

.services{
    margin: 1.25rem 0;

}
.h2services{
   padding-top: 3rem ;

}



/* footer */
#footer{
    background-color: white;
    text-align: center;
    text-decoration: none;
    

}
#footer a{
    color: #041C32;
    text-decoration: none;
}
a{
    padding: 0.4rem 0.4rem;
}
i{
    padding: 0.4rem 0.4rem;
}
h5{
    padding: 0.4rem 0.4rem;
}


/* about page */
.about-section{
    background-color: #e9e2d2;
}
.about-text{
    text-align: center;
}

.about-button{
    margin:1rem 1rem;
}
p{
    line-height: 2;
}





